/* DEBUG */

[class*="col-"] {
    min-height:50px;
    /*background-color: darkorange;*/
    /*border: 1px solid #000;*/
}


/* inizio struttura esterna layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    /*debug*/
   /* background-color: orange;*/
}

/* fine struttura esterna layout */



/* REGOLE GENERALI */


body {
    font-family: 'Inter', sans-serif;
    /*debug*/
    background-color: yellowgreen;
}

.contenitore {
    width: 80%;
    margin: 0 auto;
    /*debug*/
    /* in base alla largh. del blocco vario la % della width */
    /*background-color: hotpink;*/
}

.row {
    /*debug*/
    /*text-align: center;*/
    /*background-color: forestgreen;*/
}

/* inizio HEADER */

header {
    height: 100px;
    width: 100%;
    background-color: yellow;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /*debug*/
    /*background-color: #F5FFFA;*/
}


/* fine header */

/* regole main */

main {
    margin-top: 100px;
    /*debug*/
    /*background-color: darkviolet;*/
}


/* FOOTER */

footer {
    font-size: 14px;
}

.footer-section {
    background-color: #031b4e;
    color: darkgray;

}

.logo-footer {
    padding: 30px 0 10px 0;
}

footer .copy {
    text-align: left;
    /*font-size: calc(10px + 0.2vw);*/

}

.copy span {
    color: darkgray;
    /*font-size: calc(12px + 0.2vw);*/
}

.social-icons i{
    font-size: 20px;
    padding: 0 5px 20px 0;
}

.footer-list {
    padding: 40px 0;
}

.footer-list ul li {
    list-style-type: none;
    padding: 5px 0;
}

.footer-list h5 {
    color: white;
    font-weight: bold;
}

.footer-list ul li a {
    color: darkgray;
}








/* MEDIA QUERY */

/* Extra small devices Phones */

@media all and (max-width: 767px) {

    }


/* Small devices Tablets  */


@media all and (min-width: 768px) {

        }


/* Medium devices Desktops */

@media all and (min-width: 992px) {

}


/* Large devices Desktops */

@media all and (min-width:1200px) {

}